$pink_color: #FC2C54;
$gray_color: #F0F0F0;
$menu_margin: calc(1vh + 2px) calc(1vw + 2px);
$font_size_text: calc(1rem + 0.1vh + 0.1vw);
$font_size_title: calc(1rem + 0.7vh + 0.7vw);
$mobile_size: 575px;